<div class="col-sm-8 blog-main">
  
  <h2><%= @blog.title %></h2>
  <%= link_to 'Edit', edit_blog_path(@blog) %> | <%= link_to 'Back', blogs_path %>
  <p><%= @blog.body %></p>

  <!-- Start of Comment Form -->
  <% unless current_user.is_a? GuestUser %>
    <%= form_with(model: @comment, url: '#') do |f| %>
      <div class='form-group'>
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control', rows: 4 %>
      </div>
      <%= f.submit 'Comment', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  <!-- End of Comment Form -->

  <!-- Start of Comments -->
  <%= render @blog.comments %>
  <!-- End of Comments -->
</div>




